[Unit]
Description=Weekly Bluefin LTS Count Me timer
Documentation=https://github.com/projectbluefin/bluefin-lts
ConditionPathExists=/run/ostree-booted

[Timer]
# Matches Fedora's rpm-ostree-countme.timer exactly.
OnBootSec=5m
OnUnitInactiveSec=3d
AccuracySec=1h
RandomizedDelaySec=1d

[Install]
WantedBy=timers.target
