[Unit]
Description=Enable bootc unified storage (experimental)
Documentation=https://containers.github.io/bootc/experimental-unified-storage.html
ConditionPathExists=/run/ostree-booted
ConditionPathExists=!/var/lib/.bootc-unified-storage
After=local-fs.target

[Service]
Type=oneshot
ExecStart=bootc image set-unified
ExecStartPost=touch /var/lib/.bootc-unified-storage
RemainAfterExit=yes
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target
