[Unit]
Description=Ephemeral Fedora container
Documentation=man:podman-systemd.unit(5)

[Container]
Image=registry.fedoraproject.org/fedora:latest
ContainerName=fedora
Exec=/usr/bin/sleep infinity
HostName=fedora
PodmanArgs=--memory=512m --cpus=0.5

[Service]
TimeoutStartSec=900
