[Unit]
Description=Tailscale sidecar for ntfy
After=network-online.target

[Container]
Image=docker.io/tailscale/tailscale:latest
ContainerName=tailscale-ntfy
HostName=ntfy
PublishPort=8081:80
Volume=%h/.local/share/tailscale-ntfy:/var/lib/tailscale:Z
Environment=TS_STATE_DIR=/var/lib/tailscale
Environment=TS_USERSPACE=false
EnvironmentFile=-%h/.config/envs/tailscale-ntfy/.env
PodmanArgs=--cap-add=NET_ADMIN --cap-add=SYS_MODULE --device=/dev/net/tun

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
