[Unit]
Description=Tailscale sidecar for Vaultwarden
After=network-online.target

[Container]
Image=docker.io/tailscale/tailscale:latest
ContainerName=tailscale-vaultwarden
HostName=vaultwarden
PublishPort=8080:80
Volume=%h/.local/share/tailscale-vaultwarden:/var/lib/tailscale:Z
Environment=TS_STATE_DIR=/var/lib/tailscale
Environment=TS_USERSPACE=false
EnvironmentFile=-%h/.config/envs/tailscale-vaultwarden/.env
PodmanArgs=--cap-add=NET_ADMIN --cap-add=SYS_MODULE --device=/dev/net/tun

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
