[Unit]
Description=Ephemeral Ubuntu container
Documentation=man:podman-systemd.unit(5)

[Container]
Image=docker.io/library/ubuntu:latest
ContainerName=ubuntu
Exec=/usr/bin/sleep infinity
HostName=ubuntu
PodmanArgs=--memory=512m --cpus=0.5

[Service]
TimeoutStartSec=900
