[Unit]
Description=linkding bookmark manager
Documentation=https://github.com/sissbruecker/linkding

[Container]
Image=docker.io/sissbruecker/linkding:latest
ContainerName=linkding
PublishPort=9090:9090
Volume=%h/.local/share/linkding:/etc/linkding/data:Z
PodmanArgs=--memory=512m --cpus=0.5

[Service]
ExecStartPre=/usr/bin/mkdir -p %h/.local/share/linkding
EnvironmentFile=-%h/.config/envs/linkding/.env
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
