[Unit]
Description=Ephemeral Fedora container
Documentation=man:podman-systemd.unit(5)

[Container]
Image=registry.fedoraproject.org/fedora:latest@sha256:a9f7d4b1147b4d1f7dd5ec90081cf2cc91f7ffde849f61f69a43127b18390775
ContainerName=fedora
Exec=/usr/bin/sleep infinity
HostName=fedora
PodmanArgs=--memory=512m --cpus=0.5

[Service]
TimeoutStartSec=900
